*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container button{
  padding: 10px 20px;
  margin: 10px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.container #rock{
  background-color: red;;
  border: none;
}
.container #paper{
  background-color: blue;
  border: none;
}
.container #scissors{
  background-color: green;
  border: none;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}